body{
    margin:10px;
    background-color: #CDB1D8;
    /* background-image: url('../Img/minimalist.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top; */
     
}

header{
    background: #4A235A url('../Img/minimalist.jpg') no-repeat fixed center;
    border: 4px dashed #9B59B6;
    height: 550px;
    
}

header h1{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #9B59B6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


