* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #fff url(../Img/fundo.png) repeat-x left top;
}

#container {
  width: 800px;
  margin: 0 auto;
}

#topo {
  height: 150px;
  background: url(../Img/detalhe-topo.png) no-repeat top right;

  padding: 25px;
}

.logo {
  width: 152px;
  height: 66px;
  background: url(../Img/logo.png) no-repeat left top;
  text-indent: -3000px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#topo ul {
  margin-top: 30px;
  background: #b10333;
  float: left;
}

#topo ul li {
  float: left;
}

#topo ul a{
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(../Img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
  background: none;
}

#topo ul a:hover{
  color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencias #navegacao a#ciencias,
body.fotos #navegacao a#fotos 
{
  color: #fff;
  background: #de003e;
  cursor: text;
}

#conteudo {
  margin-top: 60px;
  background: #F5F5F5;
  float: left;
}

#conteudo h2{
  background: #294c71;
  font-size: 1em;
  color: #FFF;
  padding: 5px 0;
  text-align: center;
}

#lateral{
  width: 180px;
  float: left;
  margin:  0 0 20px -750px;
}

#primario {
  width: 270px;
  float: left;
  margin: 0 0 20px 195px;
}

#secundario{
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;
}

#duas-colunas #primario {
  width: 555px;
}

#uma-coluna #primario {
  width: 750px;
  margin: 0 0 20px 0px;
}

#caixa{
  margin: 10px 0;
  padding: 5px;
  background: #f3f3f3 url(../Img/fundo-caixa.png); 
}

.caixa-conteudo {
  background: #FFF;
  padding: 5px;
  margin-top: 5px;
}

.caixa-conteudo ul a{
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #294c71;
}

.caixa-conteudo a:hover{
  background: #F9F9F9 url(../Img/marcador.png) no-repeat left center;
  padding-left: 20px;
  color: #b10333;
}

label{
  display: block;
  cursor: pointer;
}

input {
  margin: 5px 0;
  padding: 5px;
  width: 125px;
  font-size: 0.9em;
  background: #FFF;
}

input.submit {
  width: 80px;
  color: #FFF;
  background: #b10333;
  border: 2px solid #870529;
  padding: 5px;
}



#rodape{
  background: #294c71;
  clear: both;
  padding: 20px;
  color: #fff;
}