<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elementos</title>
    <link rel="stylesheet" href="./Css/style.css" />
  </head>

  <body>
    <div id="container">
      <div id="marca">marca</div>
      <div id="conteudo">
        <div id="conteudo-principal">       
           <h2> lorem </h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde earum numquam, quidem voluptatibus cum, ipsum atque consectetur voluptates similique tenetur itaque impedit! Animi dolor blanditiis corrupti nihil autem enim quaerat.
        </p>
      </div>
      <div id="conteudo-secundario">       
        <h2> lorem </h2>
     <p>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde earum numquam, quidem voluptatibus cum, ipsum atque consectetur voluptates similique tenetur itaque impedit! Animi dolor blanditiis corrupti nihil autem enim quaerat.
     </p>
      </div>
      </div>


      <div id="navegacao">
        <ul>
          <li><a href="index.html"> Home</a></li>
          <li><a href="jogos.html"> Jogos </a></li>
          <li><a href="celulares.html"> Celulares </a></li>
          <li><a href="informatica.html"> Informatica </a></li>
          <li><a href="eletronicos.html"> Eletronicos </a></li>
        </ul>
      </div>
      <div id="rodape">rodape</div>
    </div>
  </body>
</html>
