body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 720px;
}

ul li {
  float: left;
  background: url(../Img/aba-direita.png) no-repeat top right;
}

ul a {
  display: block;
  padding: 0 2.5em;
  line-height: 3em;
  text-decoration: none;
  color: #FFF;
  background: url(../Img/aba-esquerda.png) no-repeat top left;
}

ul a:hover{
  color: #894a1f;
}

ul #atual{
  background: url(../Img/aba-direita-atual.png) no-repeat top right;
}


ul #atual a{
  background: url(../Img/aba-esquerda-atual.png) no-repeat top left;
}