<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elementos</title>
    <link rel="stylesheet" href="./Css/style.css" />
  </head>

  <body>
    <h1>Estilizando tabelas </h1> 
    <table>
      <tr> 
        <td> 001 </td>
        <td> Produto </td>
        <td> Preço </td>
      </tr>
      <tr> 
        <td> 002 </td>
        <td> Redmi 12 </td>
        <td> R$13.000 </td>
      </tr>
      <tr> 
        <td> 003 </td> 
        <td> Fone </td>
        <td> R$200.00 </td>
      </tr>
  
    </table>
  </body>
</html>
